/* start global variables */
:root {
  --Home-1-color: #20b0d7;
  --Home-2-color: #d69dbb;
  --Home-3-color: #bc1010;
  --Home-4-color: #9faac0;
  --text-color: #fff;
  --sub-text-color: #666666;
  --trans-text-color: #bad0ef;
  --sub-font-family: 'Rajdhani', sans-serif;
}
/* end global variables */
/* start global components */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a,
button,
img,
p,
h2,
h1,
span {
  user-select: none;
}
main {
  position: relative;
  z-index: 10;
  background-color: #000;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0;
}
/* end global components */
